<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home.html</title>
  </head>
  <body>
    <h2>Fashion Articles</h2>
    <form>
      <input type="text" name="magazine" placeholder="whowhatwear, fm, gqmen">
      <input type="submit" name="" value="Read">
    </form>
    {% for article in articles %}
          <h2 ><a href="{{article.link}}">{{article.title}}</a></h2>
          <p>{{article.description}}</p>
          <hr>
    {% endfor %}
  </body>
</html>
